* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e464a;
    background: linear-gradient(90deg, rgba(16, 31, 33, 1) 0%, rgba(75, 75, 72, 0.2) 100%);
    z-index: -1;
}

/* Nav bar */
nav {
    padding: 20px;
    background: #101F21;
    background: linear-gradient(90deg, rgba(16, 31, 33, 1) 0%, rgba(75, 75, 72, 0.86) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-family: "Playwrite CA", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

nav ul {
    list-style-type: none;
    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 48px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nav-menu {
    position: absolute;
    left: 40%;
}

#planeIcon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* Logo */
#logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

#logo h1 {
    margin: 0;
}

#logo span {
    font-size: 4rem;
}

/* Search bar */
.search-container {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 9999px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 60%;
}

/* Input */
#recommendationInput {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 9999px;
    font-size: 16px;
    color: #a7786a;
    width: 300px;
}

input::placeholder {
    color: #a7786a;
    font-weight: 400;
    font-size: large;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Icon button */
.icon-btn {
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    color: #a7786a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

/* Action buttons (Search & Clear) */
.action-btn {
    background: #a7786a;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    margin-left: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease;
}

.action-btn:hover {
    background: #92695d;
}

/* Body */
.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 100px 0px 100px;
    flex: 1;
}

.text-title {
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 600%;
    opacity: 0.85;
    text-transform: uppercase;
}

.text-paragraph {
    color: white;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 130%;
    font-variation-settings:
        "wdth" 100;
    width: 30%;
    min-width: 500px;
    opacity: 0.85;
}

.vertical-line {
    width: 2px;
    height: 250px;
    background-color: white;
    margin: 48px;
}

#about-us-detail {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 36px;
    color: white;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 130%;
    font-variation-settings:
        "wdth" 100;
    width: 75%;
    opacity: 0.85;
    border-radius: 8px;
}

#about-us-title {
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 600%;
    opacity: 0.85;
    text-transform: uppercase;
}

#our-team-container {
    margin-left: 98px;
    margin-bottom: 48px;
}

#our-team-container h2 {
    font-size: 400%;
}

#card-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 130%;
    font-variation-settings:
        "wdth" 100;
    color: white;
    opacity: 0.85;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 400px;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.card-content {
    padding: 16px;
}

.rectangle {
    background-color: #966c5f;
    width: inherit;
    padding: 8px 24px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8px;
    border-radius: 8px;
    font-family: "Noto Sans", sans-serif;
}

form {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 24px;
    width: 100%;
    border-radius: 16px;
}

form .row {
    margin-top: 24px;
    margin-bottom: 24px;
    width: inherit;
    height: 48px;
}

.form-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-size: medium;
    color: rgba(240, 248, 255, 0.82);
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

form button {
    background-color: #966c5f;
    padding: 8px;
    width: 100%;
    opacity: 1;
    border-radius: 8px;
    border: none;
    height: 48px;
    font-family: "Noto Sans", sans-serif;
    color: rgba(240, 248, 255, 0.82);
    font-size: medium;
}

#message-input {
    height: 96px;
}

.rec-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
    gap: 24px;
}

.rec-card {
    background-color: beige;
    border-radius: 8px;
    width: 720px;
    max-width: 100%;
    overflow: hidden;
}

.rec-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.text-card {
    padding: 24px;
    font-family: "Noto Sans", sans-serif;
}

.card-title {
    margin: bottom 8px;
}

.card-description {
    color: rgba(0, 0, 0, 0.511);
    margin-bottom: 8px;
}

.card-button {
    background-color: #a7786a;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 8px;
    font-family: "Noto Sans", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: medium;
}